**/*.pdf
**/figs/

# python cache
**/.ipynb_checkpoints/
**/__pycache__/
**/*.pyc

# pycharm shit
venv/
.idea/

# latex cache
latex/**/*.aux
latex/**/*.log
latex/**/*.blg
latex/**/*.out
latex/**/*.dvi
latex/**/*.lof
latex/**/*.toc
